*, *::before, *::after{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    padding: 2px;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #1900ff, #0000ff, #001aff);
}
 h1 {
        position: absolute;
        top: 20%;
        left: 3%;
        text-shadow: 2px 2px 100px orange;
        font-size: 50px;
        font-family: sans-serif;
        background: linear-gradient(to right, #fe0000, #ff0000, #ff0000, #ff0000);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

}
#calculator-grid{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2px;
    border: 3px solid #73AD21;
    border-radius: 25px;
    border-color: black;
    transform: translate(-50%,-50%);
    display: grid;
    justify-content: center;
    align-content: center; 
    max-height: 100vh;
    max-width: 50vw;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow:2px 2px 50px rgb(0, 255, 34);
}

#calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
     border-radius: 25px 35px;
     margin-right: 2px;
     margin-top: 2px;
     margin-bottom: 2px;
    background: #73AD21;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.75);
}

#calculator-grid > button:hover{
    background-color: rgba(255, 255, 255, 0.45);
}

.span-two{
    grid-column: span 2;
}

#output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-break: break-word;
    border-radius: 25px;
    margin-bottom: 2px;
}

#previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

#current-operand{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}